.choiceBtn{
  line-height: 30px;
  width: 150px;
}

#gameDiv{
  font-family: 'Brush Scipt MT', cursive;
  border: 3px solid;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  background-color: lightslategray
}

#playerText{
  color: cyan;
}

#computerText{
  color: gold;
}